[MASTER]
init-hook='import sys; sys.path.append("src")'

[MESSAGES CONTROL]
disable=
    C0111,  # missing-docstring
    R0903,  # too-few-public-methods

[FORMAT]
max-line-length=88

[BASIC]
good-names=i,j,k,ex,_

[DESIGN]
max-args=7
max-attributes=10
